.dashboard {
    width: 100%;
    margin-left: 25.5rem;
    min-height: 100vh;
    padding: 3rem 3.3rem 3rem 3rem;
    background-color: #f7f8fc;
    display: flex;
    flex-direction: column;
    gap: 5.4rem;
}
