.notifications {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    &__button {
        border: none;
        background-color: transparent;
        &__icon {
            position: relative;
            font-size: 1.6rem;
            color: #c5c7cd;
            &::after {
                content: "";
                width: 0.6rem;
                height: 0.6rem;
                border: 0.2rem solid #fff;
                position: absolute;
                top: 0;
                right: -10%;
                border-radius: 50%;
                background-color: #3751ff;
            }
        }
    }
}

.notification-list {
    width: 20rem;
    height: 30rem;
    background-color: #363740;
    position: absolute;
    top: 3.5rem;
    border-radius: 0.5rem;
    left: 50%;
    transform: translateX(-50%);
    color: #c5c7cd;
    font-size: 1.9rem;
    font-weight: 600;
    padding: 1rem;
    &:after {
        content: " ";
        position: absolute;
        bottom: 100%;
        left: 50%;
        margin-left: -1rem;
        border-color: transparent transparent #363740 transparent;
        border-width: 1rem;
        border-style: solid;
    }
}
