#root {
    background-color: #363740;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.App {
    width: 100%;
    font-family: "Mulish";
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
}
